<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <img src="images/image.png">
    <div class="row">
        <h1>Welcome to the Task List App</h1>
    </div>
</div>

</body>
</html>