<!DOCTYPE html>
<html lang="en">
<head>
    <% include includes/header %>
</head>
<body>
<% include includes/navigation %>

<div class="container-fluid bg-3 text-center">
    <div class="row">
        <form action="/addtask" method="post">

            <div class="form-group">
                <label for="name">Task Name</label>
                <input class="form-control" id="name" name="name"/>
            </div>

            <div class="form-group">
                <label for="due">Task Due</label>
                <input class="form-control" id="due" name="due"/>
            </div>

            <div class="form-group">
                <label for="desc">Task Description</label>
                <input class="form-control" id="desc" name="desc"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>